form{
    display:flex;
    flex-direction: column;
    gap: 3rem
}

input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 10px
}



form{
    width: 60%;
}

.publish_btn{
    color: white;
    background-color: rgb(28,78,216);
    border-radius: 8px;
    padding: 12px;
    float:right;
    margin-left: auto;
    border: 1px solid rgb(28,78,216);
}

/* Disabled button style */
.publish_btn:disabled {
    background-color: rgb(200, 200, 255); /* Light blue background */
    color: #a9a9a9; /* Dark grey text */
    cursor: not-allowed; /* Indicates that the button is not interactive */
  }

  .publish_btn:hover {
    background-color: rgb(20, 60, 180); /* Slightly darker shade on hover */
  }
  