main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

body{
  box-sizing:  border-box;
}

img{
    width: 100%;
    object-fit:cover;
}

.div_controls{
    width: 2rem;
    height: 2rem;;
    position: absolute;
    top: 2rem;
    right: 3rem;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: 2rem; */
}

button{
    background-color: transparent;
    all:unset;
    cursor: pointer;
}

button svg {
    width: 2rem;
    height: 2rem;
  } 

  ul{
    color:white;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
gap: 1rem;
  }

  .control_items{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top : 0.4rem;
  }

  .control_items a{
    background-color: #353935;
    font-size: 1rem;
    width: 3rem;
    padding: 4px 8px;
  }

 
  

  .control_items a:hover {
    background-color: #4a4e48; /* Lighter shade for hover effect */
    color: #f1f1f1; /* Optional: change text color on hover */
  }

  .comments input,textarea{
    /* width: 100%; */
    background-color: transparent;
    border: 1px solid #4B5563;
    border-radius: 4px;
    color: white;
    padding: 1rem;
  }

  .comments{
    /* margin-left: 10rem;
    padding: 7rem; */

    border-top: 3px solid #4B5563;
    padding: 1rem;
/* width: 100%; */


  }

  section{
 
  }

  .comments form {
    width: 100%;
  }

  .comments button{
    font-weight: 700;
    padding: 10px 14px;
    background-color: #2563EB;
    border-radius: 8px;
    width: fit-content;
    line-height: 1.25rem;
    font-size: 1.1rem;
    color: white;

  }


  article{
    margin-top: 5rem;
    line-break:auto;
    box-sizing: border-box;
    }


  pre code{
    font-family: "Fira Code", "JetBrains Mono", "Source Code Pro", monospace;
    padding: 1em;
    border-radius: 10px;
    font-size: 0.876rem;
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto; 
  }



/* 

article + div {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

pre {
  white-space: pre-wrap; /* Preserve formatting but allow wrapping */
  word-wrap: break-word; /* Break long words if necessary */
  word-break: break-word; /* Break long words */
}



.title{
  font-size: 1.6rem;
}