

.info{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 6rem;
    gap: 1rem
}

p{
    color: #94a3b8;
    max-width: 60ch;
    font-size: 1.2rem;
    line-height: 2rem;

}

h1{
    color:white;
}


.social{
    display:flex;
    gap: 1rem;
    color: #FFA07A
}

.avatar{
    border-radius: 50%;
    max-width: 20rem;

}


.links{
    display:flex;
    gap: 1rem;
    font-size: 1.2rem;;
    line-height: 24px;
    color: #FFA07A
}
