nav{
    display:flex;
    /* justify-content: center; */
    /* margin-left: 3rem;
    margin-top: 1rem; */
    padding: 2rem;
    justify-content: space-between;;
}

a { color: inherit; text-decoration: none; } 

.links{
    display:flex;
    gap: 1rem;
    font-size: 18px;
    line-height: 24px;
    color: #FFA07A
}


body{
    color:white;
}

.name{
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
    font-size: 1.2rem;
    color :#FFA07A;
    font-weight: 700;
}

.create_post {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    padding: 0.6rem 1rem; /* Add padding for better spacing */
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    border-radius: 8px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-size: 0.7rem; /* Adjust text size */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.create_post svg {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease; /* Smooth transition for icon on hover */
}

.create_post:hover {
    background-color: #444; /* Lighter background on hover */
    color: #f4f4f4; /* Lighter text color */
    transform: scale(1.05); /* Slightly zoom in the entire link */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.create_post:hover svg {
    transform: rotate(45deg); /* Rotate the icon slightly on hover */
}