.comment{
    display:flex;
    flex-direction: row;
    gap: 0.9rem;
    position: relative;
    border: 2px solid #383F4B;
    border-radius: 6px;
    padding: 0.6rem;
    /* align-items: center; */
}

.comment_info{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;

}

.comment a {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;

}

.comment svg {
    width: 1.4rem;
    height: 1.4rem;
}

p{
    margin:0;
    padding:0;
}

.avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;

}