.thumbnail{
    
    height: auto;
    /* object-fit: cover; */
    width: 100%;
    margin-top: 15px;

}

p{
    width: fit-content
}


.post{
    /* max-width: 50%; */
    display:flex;
    flex-direction: column;
}

.link {
    color: #FFA07A;
    text-decoration: underline;
}

.circular_spinner
{
    border: 4px solid #f3f3f3; /* Light gray background */
    border-top: 4px solid #3498db; /* Blue color for the spinner */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Infinite spinning effect */
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .card{
    display:flex;
    flex-direction: column;
  }

  .card_title{
    font-size: 1em;
    font-weight: 600
  }