body{
    color: #D1D5DB;
    box-sizing: border-box;
}


button{
    background-color: #8B5CF6;

    padding: 12px;

}



form{
    display:flex;
    flex-direction: column;
    gap: 3rem;

    border: 2px solid #6B7280;
    padding: 4rem;
    width: auto;
}

main{
display:flex;
justify-content: center;
align-items: center;
}

input,label {
    width: 100%;
}


input{
    margin-top: 10px
}

button{
    width:100%;
}